<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <!--Material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Material icons-->
    <script src="https://kit.fontawesome.com/a677121f00.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/index.css">
    <title>Conocimientos y habilidades</title>
</head>

<body>
    <!--Header-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark primary-color">
            <!--Boton que aparece cuando se hace mas chica la pantalla-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <!--Menu, me gustaria que al pasar el mouse cambiaran los colores y ademas se diera una pequeña descripción-->
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html">
                            <strong>Inicio</strong>
                        </a>
                    </li>
                    <li class="nav-item submenu">
                        <a class="nav-link" href="#"><strong>Proyectos</strong></a>
                        <div class="submenu-content">
                            <strong><a href="proyects-display.html">Software de display</a></strong><br>
                            <strong><a href="proyects-rally.html">Rally Networks</a></strong><br>
                            <strong><a href="proyects-simulacion.html">Simulación</a></strong>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="education.html"><strong>Formación
                                académica</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="skills.html"><strong>Conocimientos y
                                habilidades</strong></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--Header end-->

    <!--Resumen de las habilidades-->
    <section id="banner" class="primary-color">
        <div class="container">
            <div class="banner-small">
                <!--Cambiar a negro el fondo y expandirlo-->
                <div class="row">
                    <h1>Conocimientos y habilidades</h1>
                </div>
            </div>
        </div>
    </section>

    <!--Cuerpo-->
    <section class="complementary-color">
        <div class="container">

            <h2>Habilidades blandas</h2>
            <div class="row">
                <div class="col-md-9">
                    <ul>
                        <li class="nobullets">Empatía con el equipo de trabajo</li>
                        <li class="nobullets">Colaborativo y dispuesto a recibir ayuda</li>
                        <li class="nobullets">Responsable ante compromisos</li>
                        <li class="nobullets">Tolerante a fallas</li>
                        <li class="nobullets">Organización personal</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <img src="../img/team.png" alt="" class="medium-img">
                </div>
            </div>

            <h2>Habilidades técnicas</h2>
            <div class="row">
                <div class="col-md-3">
                    <img src="../img/pic06.jpg" alt="" class="medium-img">
                </div>
                <div class="col-md-9">
                    <h4>Programación</h4>
                    <ul>
                        <li class="nobullets">Conocimiento profundo de la programación estructurada, orientada a objetos y funcional</li>
                        <li class="nobullets">Manejo de IDE's como NetBeans, Visual Stuio, Visual Studio Code y Android Studio</li>
                        <li class="nobullets">Conocimiento sobre estructuras de datos</li>
                        <li class="nobullets">Habilidades para desarrollar algoritmos orientados a procesos</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <h4>Bases de datos</h4>
                    <ul>
                        <li class="nobullets">Bases teóricas sobre conjuntos</li>
                        <li class="nobullets">Uso de RDBMS (MySQL y SQL Server)</li>
                        <li class="nobullets">Manejo y creación de consultas en lenguaje DML (Data Manipulation Language) y DLL (Data
                            Definition Language)</li>
                        <li class="nobullets">Conocimiento general sobre consultas DCL (Data Control Language) y TCL (Transactional
                            Control Language)</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <img src="../img/db.png" alt="" class="medium-img">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="../img/so.png" alt="" class="medium-img">
                </div>
                <div class="col-md-9">
                    <h4>Otras habilidades</h4>
                    <ul>
                        <li class="nobullets">Manejo de sistemas operativos (Windows y Linux)</li>
                        <li class="nobullets">Uso de consola</li>
                        <li class="nobullets">Control de versiones</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>

    <!--Footer-->
    <footer>
        <!--Redes sociales, colocar iconos, falta agregarles la ruta, en caso de los que no lleban URL
        aun no decido como presentarlos-->
        <div class="footer">
            <span>
                <a class="link" href="https://www.facebook.com/JDBanda" target="blank" data-toggle="tooltip" data-placement="top" title="Contactame por facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </span>
            <span>
                <a class="link" href="https://github.com/JDBanda" target="blank" data-toggle="tooltip" data-placement="top" title="Sigueme en github">
                    <i class="fab fa-github"></i>
                </a>
            </span>
            <span>
                <a class="link"
                    href="https://drive.google.com/file/d/1vVfHPkyyvLiQ6_5XR2rHadeFVHj_pEdc/view?usp=sharing"
                    target="blank" 
                    data-toggle="tooltip" data-placement="top" title="Descarga mi CV">
                    <i class="fas fa-file-download"></i>
                </a>
            </span>
        </div>
        <div class="footer-copyright text-center py-3 primary-color">© 2020 Copyright:
            Javier David Banda Villeda<br />
            <span><i class="fas fa-map-marked-alt"></i></span> Calzada de Guadalupe #4, Dios Padre, Ixmiquilpan, Hidalgo, México <br />
            <span><i class="fas fa-envelope"></i></span> javban06@gmail.com | <span><i class="fas fa-mobile-alt"></i></span> (+52)7721251130
        </div>
    </footer>
    <!--Footer end-->
    <script src="../js/tooltip.js"></script>
</body>
</html>