/*Color para textos blancos*/
.text-color{
    color: #ffffff;
}
.text-color-s{
    color: #14213D !important;
}
.text-color-s-center{
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: #14213D;
    text-align: center;
}
/*Color para contenedores*/
.primary-color{
    color: #ffffff;
    background-color: #14213D;
}

.footer-color{
    margin-top: 1em;
    color: #000000;
    background-color: #FCA311;
}

.complementary-color{
    color: #14213D !important;
    background-color: #ffffff;
}
/*jumbotron transparente*/
.jumbotron{
    background:transparent !important;
}

/*Imagenes*/

img.small-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 70%;
}

.right-text{
    text-align: right;
}

.banner{
    text-align: center;
    font-size: 2.5rem;
}

/*Controles del carrusel*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  border-radius: 70%;
  outline: black;
  background-color: #14213D;
}

/*Bordes y margenes de contenedores*/
.center-div{
    margin-left: 3rem;
    margin-right: 3rem;
}