<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
  <!--Bootstrap-->
  <!--Material icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!--Material icons-->
  <script src="https://kit.fontawesome.com/a677121f00.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/index.css" />
  <title>Educación</title>
</head>

<body>
  <!--Header-->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">
      <!--Boton que aparece cuando se hace mas chica la pantalla-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--Menu, me gustaria que al pasar el mouse cambiaran los colores y ademas se diera una pequeña descripción-->
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="proyects.html"><strong>Proyectos</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="education.html"><strong>Formación académica</strong></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="skills.html"><strong>Conocimientos y habilidades</strong></a>
          </li>
        </ul>
        <a href="../index.html">
          <span class="navbar-text">
            <strong>Portafolio de proyectos</strong>
            <i class="fas fa-code"></i>
          </span>
        </a>
      </div>
    </nav>
  </header>
  <!--Header end-->

  <!--Banner-->
  <section id="banner" class="primary-color">
    <div class="container">
      <div class="jumbotron">
        <!--Cambiar a negro el fondo y expandirlo-->
        <div class="row">
          <h1>Educación</h1>
        </div>
      </div>
    </div>
  </section>
  <!--End banner-->

  <!--Section-->
  <section class="complementary-color">
    <div class="container">
      <!--ITSOEH-->
      <div class="row">
        <h2>Ingeniería en sistemas computacionales (2016 - 2020)</h2>
          <h4>Instituto Tecnológico Superior del Occidente del Estado de Hidalgo,
          Mixquiahuala de Juárez Hidalgo</h4>
        <p>He culminado la curricula marcada por la institutción, incluyendo servicio social y practicas profesionales,
          la educación impartida en el instituto me dio bases solidas en bases de datos, lógica de programación,
          documentación técnica y ética.
          El instituto me aportó un perfil orientado al desarrollo web, móvil y de escritorio ramas en las que cuento
          con conocimientos
          necesario para desarrollar alguna solución a la medida. Entre otras cualidades que poseo como ingeniero en
          sistemas se encuentran:</p>
        <ul>
          <li>Diseñar, desarrollar y/o implementar: aplicaciones computacionales, interfaces de automatización de
            hardware
            y software, software de propósito específico (base de datos, sistemas descentralizados, orientado a
            plataformas y dispositivos),
            para resolver problemas en el entorno, siempre apegado a las normas y estándares internacionales vigentes y
            de seguridad que apliquen.
          </li>
          <li>Implementar modelos matemáticos para solucionar problemas complejos que atiendan alguna necesidad
            en su entorno, mediante la automatización y/o procesamiento de la información a través de la interpretación de datos.
          </li>
          <li>Diseñar, configurar y administrar redes computacionales aplicando normas y estandares vigentes*.</li>
      </div>
      <!--Datos de interes ITSOEH-->
      <div class="row">
        <h3>Datos de interés dentro del curso universitario</h3>
        <ul>
          <li>Promedio actual 88.96</li>
          <li>Especialidad en desarrollo de dispositivos móviles(implementación de servicios web,
            seguridad básica y desarrollo móvil).</li>
          <li>Reconocimiento de inglés</li>
          <li>Participación en el concurso nacional de programación “Coding Cup TecNM”.
            08/10/2020</li>
          <li>Participación en el Expo sistemas ProyectaTec con el proyecto integrador
            “Aplicación Móvil para la Distribución de trampas de la empresa CiDT”.
            06/12/2019</li>
          <li>Participación en el “Rally Latinoamericano de Innovación 2017”. 28/10/2017</li>
        </ul>  
      </div>
      <!--Datos sobre curso develop-->
      <div class="row">
        <div class="col-md-12">
          <h2>Curso de capacitación "OCA Java SE8 Programmer" (21/03/2020 – 23/05/2020)</h2>
        <h4>Develop talent & technology, curso en línea</h4>
        <p>En el curso reforcé los aspectos básicos a la hora de desarrollar con Java, estas nociones básicas son: </p>
        <ul>
          <li>Principios para el desarrollo</li>
          <li>Operadores y sentencias</li>
          <li>Core Java</li>
          <li>Métodos y encapsulación</li>
          <li>Diseño de clases</li>
          <li>Excepciones</li>
        </ul>
        </div>
      </div>

      <!--datos de CECYTEH-->
      <div class="row">
        <div class="col">
          <h2>Técnico en programación (2013 - 2016)</h2>
          <h4>Colegio de Estudios Científicos y Tecnológicos del Estado de Hidalgo</h4>
          <p>
            En esta institutción se me inculcaron las base de la programción, durante mi formación como técnico en programación
            me enseñaron a:
            <ul>
              <li>Instalar y desarrollar software de aplicación utilizando programación estructurada y orientada a objetos en ambientes web y móviles, con almacenamiento persistente de datos</li>
              <li>Configurar y administrar plataformas e-learning y de comercio electrónico.</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--Section-->
</body>

</html>