<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <!--Bootstrap-->
    <!--Material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Material icons-->
    <script src="https://kit.fontawesome.com/a677121f00.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/index.css">
    <title>Educación</title>
</head>
<body>
<!--Header-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark primary-color">
            <!--Boton que aparece cuando se hace mas chica la pantalla-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <!--Menu, me gustaria que al pasar el mouse cambiaran los colores y ademas se diera una pequeña descripción-->
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="proyects.html"><strong>Proyectos</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="education.html"><strong>Formación
                                académica</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="skills.html"><strong>Conocimientos y
                                habilidades</strong></a>
                    </li>
                </ul>
                <a href="../index.html">
                    <span class="navbar-text">
                        <strong>Portafolio de proyectos</strong>
                        <i class="fas fa-code"></i>
                    </span>
                </a>
            </div>
        </nav>
    </header>
    <!--Header end-->
    
    <!--Resumen de las habilidades-->
    <section id="banner" class="primary-color">
        <div class="container">
          <div class="jumbotron">
            <!--Cambiar a negro el fondo y expandirlo-->
            <div class="row">
              <h1>Conocimientos y habilidades</h1>
            </div>
          </div>
        </div>
    </section>

    <!--Cuerpo-->
    <section class="complementary-color">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2>Habilidades técnicas</h2>
                    <h4>Programación</h4>
                    <ul>
                        <li>Conocimiento profundo de la programación estructurada, orientada a objetos y funcional</li>
                        <li>Manejo de IDE's como NetBeans, Visual Stuio, Visual Studio Code y Android Studio</li>
                        <li>Conocimiento sobre estructuras de datos</li>
                        <li>Habilidades para desarrollar algoritmos orientados a procesos</li>
                    </ul>
                    <h4>Bases de datos</h4>
                    <ul>
                        <li>Bases teóricas sobre conjuntos</li>
                        <li>Uso de RDBMS (MySQL y SQL Server)</li>
                        <li>Manejo y creación de consultas en lenguaje DML (Data Manipulation Language) y DLL (Data Definition Language)</li>
                        <li>Conocimiento general sobre consultas DCL (Data Control Language) y TCL (Transactional Control Language)</li>
                    </ul>
                    <h4>Sistemas</h4>
                    <ul>
                        <li>Manejo de sistemas operativos (Windows y Linux)</li>
                        <li>Uso de consola</li>
                        <li>Control de versiones</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Conocimientos de ingeniería</h2>
                    <h4>Habilidades blandas</h4>
                    <h4>Conocimiento teorico</h4>
                </div>
            </div>
        </div>
    </section>
</body>
</html>